/* Theme */

main {
	background: #645080;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

i:hover {
	opacity: 0.75
}


/* Use eventually for icon bounce effect! */
.bounce {
    animation: bounce 2s;
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-12px);
